img {
  height: 200px;
  display: block;
  margin: auto;
}

#outter{
  /* border: solid 5px green;*/
  display: flex;
}

.container {
  flex: 50%;
  /*border: solid 5px red;*/
  margin: 0 auto;
  text-align: center;
}

button {
  margin: 20px;
}